<nav>
  <div class="nav-wrapper grey">
    <a href="#" class="brand-logo">BLOGS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]=link.home (click)="signVal = true ; namechange()" >Home</a></li>
      <li><a [routerLink]=link.yourblog *ngIf="sign == 'Sign Out'">Your Blogs</a></li>
      <li><a [routerLink]=link.sign ng-model="signVal" ng-init="signVal = false"
             (click)="signVal = false ; namechange('')" >{{sign}}</a></li>
    </ul>
  </div>
</nav>



<div class="row">

  <div class="col s8 border">
    <router-outlet></router-outlet>
  </div>
  <div class="col s4 border" *ngIf="sign =='Sign Out' ">
    <h2 class="well text-center">My Fav Blogs</h2>
    <app-your-fav></app-your-fav>
  </div>

</div>
